// Estilos customizados para a página de área de atuação

:host {
  font-family: 'Poppins', sans-serif;
  display: block;
  height: 100vh;
  overflow: hidden;
}

:host-context(body) {
  overflow: hidden;
}

button, input {
  transition-property: color, background-color, border-color, opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}



